/download
aigbook/__pycache__
test.py
aigbook.egg-info
build
dist
test/config.json
test_gui.py
test_download.py
test/download
/uploadd.sh
/__init__.spec
/aigbook-gui.spec
/aigbook/aigbook-gui.py
/gui.spec
